/*general*/
.main {
    margin-top: 20px;
}
.section-padding {
    padding-left: 4vw;
    padding-right: 4vw;
}
.blue-text {
    color: #17b8e7;
}
.white-text {
    color: #ffffff;
}
.section-header {
    text-align: center;
    padding-bottom: 3vh;
}
.subheader {
    padding-bottom: 2vh;
}

/*section#1*/
.navigation {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    background: #ffffff;
}
.brand-logo {
    height: 10vh;
    padding: 0;
    margin-left: 10vw;
}
.navbar-nav li a {
    line-height: 3.5;
}
.navbar-default .navbar-nav li a:hover {
    color: #17b8e7;
}
.navbar-default .navbar-nav li a:focus {
    color: #17b8e7;
}

/*section#2*/
.sec-2 {
    height: 60vh;
    background: url(../img/banner-img.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}
.promo-block {
    margin-top: 15vh;
    text-align: center;

}


/*section-9*/
.section-9 {
    background: #cfd0d0;
    padding-bottom: 6vh;
}
.option-block {
    padding-left: 0;
}
.round {
    background: black;
    height: 110px;
    width: 110px;
    /*height: 15vh;*/ /*not sure about px*/
}
.section-9 p {
    color: #17b8e7;
    font-size: 80px;
    padding-left: 33px;
}
.section-9 img {
    border-radius: 0.6vh;
}
.blab-img {
    height: 5vh;
}
.tube-img {
    height: 5.4vh;
}


/*section#10-11*/

/*section#5*/
.section-subheader {
    margin-top: 0;
}
.section-devider {
    margin-bottom: 2vh;
}

/*section#6*/
.section-6 {
    background: #040503;
    padding-bottom: 6vh;
}
.section-6 a {
    color: #17b8e7;
}
.sect-6-button {
    text-align: center;
}
.sect-6-bt {


/* styles */
/*section#10*/
.section-10 {
    background: #000000;
}
.sect-10-bt {
    background: inherit;
    border: 1px solid #17b8e7;
    color: #17b8e7;
    border-radius: 0.3vh;
}

.sect-6-bt:hover {
    background: #17b8e7;
    color: inherit;
}
/* section #7-8 */
.section-7-8 {
	height: 100vh;

.sect-10-bt:hover {
    background: #17b8e7;
    color: inherit;
}



/*section#11*/
.class-7 {
    background: #151414;
    height: 6vh;
    text-align: center;
    line-height: 3.5;
    color: #ffffff;
}
.class-7 p {
    margin: 0;
}
