/*general*/
.main {
    margin-top: 20px;
}
.section-padding {
    padding-left: 4vw;
    padding-right: 4vw;
}
.blue-text {
    color: #17b8e7;
}
.white-text {
    color: #ffffff;
}
.section-header {
    text-align: center;
    padding-bottom: 3vh;
}
.subheader {
    padding-bottom: 2vh;
}

/*section#1*/
.navigation {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    background: #ffffff;
}
.brand-logo {
    height: 10vh;
    padding: 0;
    margin-left: 10vw;
}
.navbar-nav li a {
    line-height: 3.5;
}
.navbar-default .navbar-nav li a:hover {
    color: #17b8e7;
}
.navbar-default .navbar-nav li a:focus {
    color: #17b8e7;
}

/*section#2*/
.sec-2 {
    height: 60vh;
    background: url(../img/banner-img.png) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}
.promo-block {
    margin-top: 15vh;
    text-align: center;

}

/* section#3 */

.section-padding {
    padding-left: 4vw;
    padding-right: 4vw;
}
.section-3-title {
    padding-top: 2.6vh;  
    padding-left: 7vh;
    font-weight: bold;
}
.section-3-links {
    margin: 0.5vh 0vh;
}
.section-3-img-links {
    height: 7vh;
}

/* section#4 */

.section-4 {
    background: #17b8e7;
    color: #ffffff;
    padding-bottom: 8vh;
}

.section-4-first-title {
    padding-left: 2vh;
}

.section-4-second-title {
    padding-left: 4.5vh;
}

.section-4-img {
    margin-bottom: 5px;
}

/*section#10-11*/
.footer {
	margin: 0px;
	padding: 0px;
	background: #040503;
	height: 100%;
}

.bottom-content {
	background: #040503;
	margin: 4% 0px 0px 4%;
	height: 100%;
	width: 90%;
}

.bottom-icon {
	display: flex;
	justify-content: center;
	background: #040503;
	border: none;
}

.bottom-left-second {
	width: 70%;
	display: flex;
	align-items: stretch;
	color: white;
	font-size: 12px;
	margin-left: 13px;
}

.bottom-right-first {
	color: white;
	height: 100%;
	margin-bottom: 5px;
}

.bottom-btn {
	margin-left: 20%;
	color: #59ace9;
 	background-color: #040503;
  	border-color: #59ace9;
  	white-space: wrap;
}

.copyright-content {
	color: white;
	text-align: center;
	background: #3d3632;
	font-size: 12px;
}
